<form action="{{ url_for("create_world") }}" method=post>
<div class="form-group"
  <div class="col-md-3">
    <input type="text" name="name" class="form-control" placeholder="World Name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>
</form>
